@{
    ViewData["Title"] = "About";
}

<h1>We are capable development company</h1>
<p class = "lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quod reprehenderit, voluptates aut fugit atque voluptatibus blanditiis obcaecati velit repellendus consequatur, laboriosam in tenetur odit temporibus harum, placeat iusto eaque? Excepturi sed, neque cumque temporibus error harum? Facilis, accusamus fugit, vel repellat eaque sit voluptatum reiciendis voluptates consectetur, id eligendi nobis amet ad debitis enim sapiente magni porro? Fugiat veritatis fuga enim. Consequuntur nulla vitae dolore obcaecati harum, fugiat eos rerum facere. Deserunt tenetur alias repellendus distinctio aspernatur officiis blanditiis dignissimos est obcaecati! Suscipit perferendis sequi a numquam alias expedita inventore architecto consequatur nesciunt illo, illum molestiae odio aspernatur animi?</p>
<p class="lead">
    <a href="#" class="btn btn-outline-secondary">Contact Us</a> for more details.
</p>